<link href='http://fonts.googleapis.com/css?family=Cabin:600italic' rel='stylesheet' type='text/css'>

<h1><img src="./logo.png" width="50">
    <span style="font-size: 40px; font-family: 'Cabin', sans-serif; font-weight: 600; font-style: italic; color: grey;">manu<span style="color: purple;">vr</span></span> debug</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <!-- views -->
            <h4>Glove Status: <span style="color: red;}};">{{ gloveStatus }}</span></h4>

            <div style="background-color: #D0D0D0; padding: 10px; width: 420px; height: 40px; border-radius: 6px;">
                <label class="control-label col-md-4" for="target">Target:</label>
                <select class=" col-md-8"
                        id="target"
                        ng-model="mode"
                        ng-options="m for m in modeOptions"
                    <option value="">-- choose command --</option>
                </select>
            </div>

            <h4>Message Builder:</h4>

            <div style="background-color: #D0D0D0; padding: 10px; width: 420px; border-radius: 6px;">
                <form role="form" ng-submit="sendTestData()">
                    <div class="form-group">

                        <label class="control-label col-md-4" for="com">Commands:</label>
                        <select class="col-md-8" id="com" ng-model="myCommand"
                                ng-options="key for (key, value) in commands">
                            <option value="">-- choose command --</option>
                        </select>
                        <br/>
                        <br/>
                        <label class="control-label col-md-4" for="arglen">Arg Length:</label>
                        <select class="col-md-8"
                                id="arglen"
                                ng-model="myArgForms"
                                ng-options="value.len for (key, value) in myCommand.argForms">
                            <option value="">-- Arg Length Select --</option>
                        </select>
                    </div>
                    <br/>
                    <div class="form-group" ng-show="myArgForms">
                        <div ng-repeat="arg in myArgForms.data track by $index">
                            <input type="text" class="form-control" ng-model="msgArgs[$index]"
                                   placeholder="{{argRef[arg].type}}">
                        </div>
                    </div>
                    <button type="submit" class="col-md-12 btn btn-primary">Send Glove Message</button>
                    <br /><br />
                </form>
            </div>

            <h4>Utility Functions:</h4>

            <div style="background-color: #D0D0D0; padding: 10px; width: 420px; border-radius: 6px;">
                <button ng-click="sendSync()" class="btn btn-primary col-md-6">Send Sync Packet</button>
                <button ng-click="sendMassSync()" class="btn btn-primary col-md-6 pull-right">Send 200 Sync Packets</button>
                <br/><br/>
                <button ng-click="randomIMUmag()" class="btn btn-primary col-md-6">Generate IMU</button>
                <button ng-click="enableRecord()" class="btn btn-primary col-md-6" ng-hide="recordToggle">Record
                </button>
                <button ng-click="disableRecord()" class="btn label-danger col-md-6" ng-show="recordToggle">Stop
                </button>
                <br /><br />
            </div>

            <h4>Visualizers:</h4>

            <div style="background-color: #D0D0D0; padding: 10px; width: 420px; border-radius: 6px;">
                <button class="btn btn-primary col-md-6" onclick="window.open('/#/hand')">Kinematic Hand Render</button>
                <button class="btn btn-primary col-md-6" onclick="window.open('/imu')">Carpals Quat Render</button>
                <br /><br />
                <button class="btn btn-primary col-md-6" onclick="window.open('/rt')">Real Time Graph</button>
                <button class="btn btn-primary col-md-6" onclick="window.open('/fixed')">Fixed Sensor Render</button>
                <br /><br />
                <button class="btn btn-primary col-md-6" onclick="window.open('/k')">Full Hand Quat and Acc</button>
                <br /><br />
            </div>

        </div>
        <div class="col-md-2">

            <h4>Connection:</h4>

            <div style="background-color: #D0D0D0; padding: 10px; min-height: 170px; width: 420px; border-radius: 6px;">
                <h5 ng-hide="btToggle">Serial: </h5>
                <button ng-click="closeSerial()" class="btn btn-danger" ng-show="sToggle">Close Serial Connection
                </button>
                <div class="input-group" ng-hide="btToggle">

                    <span class="input-group-btn">
                        <button ng-click="scanSerial()" class="btn btn-primary" ng-hide="sToggle">Scan</button>
                    </span>
                    <input type="text" class="form-control" ng-model="sAddress" ng-hide="sToggle"
                           placeholder="Serial Address">
                    <span class="input-group-btn">
                        <button ng-click="connectSerial(sAddress)" class="btn btn-primary" ng-hide="sToggle">Connect
                        </button>
                        <button ng-click="autoConnectSerial()" class="btn btn-success" ng-hide="sToggle">Auto Connect</button>
                    </span>

                </div>

                <h5 ng-hide="sToggle">Bluetooth:</h5>
                <div class="input-group" ng-hide="sToggle">

                <span class="input-group-btn">
                    <button ng-click="scanBT()" class="btn btn-primary" ng-hide="btToggle">Scan</button>
                </span>
                    <input type="text" class="form-control" ng-model="btAddress" ng-hide="btToggle"
                           placeholder="Glove MAC Address">
                    <span class="input-group-btn">
                        <button ng-click="connectBT(btAddress)" class="btn btn-primary" ng-hide="btToggle">Connect
                        </button>
                    </span>
                    <button ng-click="disconnectBT()" class="btn btn-primary label-danger" ng-show="btToggle">Close
                        Bluetooth connection
                    </button>
                </div>
                <!--<div ng-repeat="btAddy in btAddressList | limitTo: 5" ng-hide="btToggle">{{btAddy.name + " - " +-->
                    <!--btAddy.address}}-->
                <!--</div>-->
            </div>

            <span>
                <h4>Log: <button ng-click="clearLog()" class="btn btn-link">Clear</button></h4>
            </span>
            <div id="log"
                 style="background-color: black; padding: 10px; height: 270px; overflow: auto; width: 420px; border-radius: 6px;"
                 scroll-glue>
                <span ng-repeat="message in messages track by $index" style="color: greenyellow; font-size: small; font-family: Consolas,  Menlo, monospace; ">
                    {{message}} <br />
                </span>
                <a id="bottom"></a>
            </div>


        </div>
    </div>
    <div class='row'>
        <div class="col-md-12">
            <h4>IMU Frames (FPS: {{FPS}})</h4>

            <div class='table-responsive'>
                <table class='table' border='1'>
                    <thead>
                    <tr>
                        <th>Bone</th>
                        <th>Quat</th>
                        <th>Acceleration</th>
                        <th>Gyro</th>
                        <th>Mag</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="bone in boneList">
                        <td>{{bone}}</td>
                        <td>
                            w:{{(gloveModel.IMU_set[bone].quat.w.toFixed(4))}}<br/>
                            x:{{(gloveModel.IMU_set[bone].quat.x.toFixed(4))}}<br/>
                            y:{{(gloveModel.IMU_set[bone].quat.y.toFixed(4))}}<br/>
                            z:{{(gloveModel.IMU_set[bone].quat.z.toFixed(4))}}<br/>
                        </td>
                        <td>
                            x:{{(gloveModel.IMU_set[bone].acc.x.toFixed(4))}}<br/>
                            y:{{(gloveModel.IMU_set[bone].acc.y.toFixed(4))}}<br/>
                            z:{{(gloveModel.IMU_set[bone].acc.z.toFixed(4))}}<br/>
                        </td>
                        <td>
                            x:{{(gloveModel.IMU_set[bone].gyro.x.toFixed(4))}}<br/>
                            y:{{(gloveModel.IMU_set[bone].gyro.y.toFixed(4))}}<br/>
                            z:{{(gloveModel.IMU_set[bone].gyro.z.toFixed(4))}}<br/>
                        </td>
                        <td>
                            x:{{(gloveModel.IMU_set[bone].mag.x.toFixed(4))}}<br/>
                            y:{{(gloveModel.IMU_set[bone].mag.y.toFixed(4))}}<br/>
                            z:{{(gloveModel.IMU_set[bone].mag.z.toFixed(4))}}<br/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
