<h1>Manuvr Debug</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <!-- views -->
            <h3>Status</h3>
                {{ gloveStatus }}

            <h3>Glove Emulator</h3>
            <div>
                <select ng-model="mode"
                        ng-options="m for m in modeOptions">
                    <option value="">-- choose command --</option>
                </select>
            </div><br />

             <form role="form" ng-submit="sendTestData()">
                 <div class="form-group">
                     <select ng-model="myCommand"
                         ng-options="command for command in commands">
                         <option value="">-- choose command --</option>
                     </select>
                     <br />
                     Currently selected: {{ myCommand }}
                 </div>
                 <div class="form-group">
                    <input type="text" class="form-control" ng-model="msgArgs" placeholder="Args...">
                    </input>
                </div>
                <button ng-click="randomIMUmag()" class="btn btn-primary label-danger">Generate Random Mag Stream</button>
                <button type="submit" class="btn btn-primary">Send Glove Message</button>
             </form>
             <br />
             
            <button ng-click="connectBT(btAddress)" class="btn btn-primary label-success" ng-hide="btToggle">Connect to Bluetooth</button>
            <button ng-click="disconnectBT()" class="btn btn-primary label-danger" ng-show="btToggle">Close Bluetooth connection</button>
            <button ng-click="sendSync()" class="btn btn-primary">Send Sync Packet</button>
             <br /><br />
             <button ng-click="scanBT()" class="btn btn-primary" ng-hide="btToggle">Scan for Devices</button>
             <br /><br />
             <div ng-repeat="btAddy in btAddressList | limitTo: 5" ng-hide="btToggle">{{btAddy.name + " - " + btAddy.address}}</div>
             <input type="text" class="form-control" ng-model="btAddress" placeholder="Glove MAC Address"></input>
          </div>
          <div class="col-md-6">
            <br /><br />
            <button  class="btn btn-primary" onclick="window.open('/#/hand')">Open Hand Visualizer</button>
            <br /><br />
            <h3>Console</h3>
            <div>
            <span ng-repeat="message in messages track by $index | limitTo: 10">
                {{ message.name }}<br/>
            </span></div>
          </div>
    </div>
    <div class='row'>
      <div class="col-md-12">
      <h3>IMU Frames</h3>
      <div class='table-responsive'>
      <table class='table' border='1'>
        <thead>
          <tr>
            <th>Bone</th>
            <th>Quat</th>
            <th>Acceleration</th>
            <th>Gyro</th>
            <th>Mag</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="bone in gloveModel.IMU_set">
            <td>{{boneList[$index]}}</td>
            <td>
              w:{{(bone.quat.x).toFixed(4)}}
              x:{{(bone.quat.y).toFixed(4)}}
              y:{{(bone.quat.z).toFixed(4)}}
              z:{{(bone.quat.w).toFixed(4)}}
            </td>
            <td>
              x:{{(bone.acc.x).toFixed(4)}}
              y:{{(bone.acc.y).toFixed(4)}}
              z:{{(bone.acc.z).toFixed(4)}}
            </td>
            <td>
              x:{{(bone.gyro.x).toFixed(4)}}
              y:{{(bone.gyro.y).toFixed(4)}}
              z:{{(bone.gyro.z).toFixed(4)}}
            </td>
            <td>
              x:{{(bone.mag.x).toFixed(4)}}
              y:{{(bone.mag.y).toFixed(4)}}
              z:{{(bone.mag.z).toFixed(4)}}
            </td>
          </tr>
      </table>
      </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Glove JSON Display</h3>
            <pre>{{gloveModel | json}}</pre>
        </div>
</div>
